pip>=22.3
setuptools-rust==0.12.1
cryptography>=38.0.1
horey.configuration_policy>=1.0.0
horey.h_logger>=1.0.0
horey.common_utils>=1.0.0
horey.network>=1.0.0
azure-mgmt-resource-locks>1.0.0
azure-common==1.1.28
azure-core==1.41.0
azure-mgmt-resource==25.0.0
azure-mgmt-network==30.2.0
azure-mgmt-core==1.6.0
azure-mgmt-compute==38.0.0
azure-mgmt-subscription==3.1.1
azure-identity==1.25.3
azure-mgmt-resource-locks>=1.0.0
